In [52]:
#importing and loading data 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import country_converter as pc
%matplotlib inline

In [2]:
employement = pd.read_csv('aged_15plus_employment_rate_percent.csv')
child_mortality = pd.read_csv('child_mortality_0_5_year_olds_dying_per_1000_born.csv')
food_supply = pd.read_csv('food_supply_kilocalories_per_person_and_day.csv')
gdp = pd.read_csv('gdppercapita_us_inflation_adjusted.csv')
life_expectancy = pd.read_csv('life_expectancy_years.csv')
school_years = pd.read_csv('mean_years_in_school_women_percent_men_25_to_34_years.csv')
pop = pd.read_csv('population_growth_annual_percent.csv')

In [3]:
cols = ['country'] + child_mortality.loc[: , '1991':'2013'].columns.to_list()

In [4]:
employement = employement[cols]
child_mortality = child_mortality[cols]
food_supply = food_supply[cols]
food_supply = food_supply.fillna(method='ffill', axis=1)
gdp = gdp[cols]
gdp = gdp.fillna(method='bfill', axis=1)
life_expectancy = life_expectancy[cols]
school_years = school_years[cols]
pop = pop[cols]
pop = pop.fillna(method='bfill', axis=1)
pop.head(1)

,country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,5.9,7.33,7.67,6.9,5.57,4.14,3.09,2.59,2.82,...,4.47,3.87,3.23,2.76,2.51,2.57,2.81,3.1,3.27,3.32

In [68]:
child_mortality['iso3_code'] = pc.convert(names=list(child_mortality['country']), to='ISO3')
child_mortality.head()

,country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,iso3_code
0,Afghanistan,173.0,167.00,161.00,156.00,151.00,146.00,142.00,138.00,133.00,...,109.00,104.00,100.00,96.00,91.90,88.00,84.10,80.50,77.00,AFG
1,Albania,38.9,37.40,35.90,34.50,33.20,31.70,30.30,28.80,27.40,...,19.20,17.90,16.70,15.50,14.40,13.30,12.30,11.40,10.70,ALB
2,Algeria,48.2,47.00,46.00,44.80,43.60,42.50,41.60,40.80,40.30,...,33.50,32.00,30.70,29.40,28.30,27.40,26.70,26.10,25.70,DZA
3,Andorra,10.2,9.63,9.09,8.58,8.11,7.69,7.32,6.97,6.68,...,5.27,5.05,4.84,4.62,4.39,4.18,3.98,3.79,3.61,AND
4,Angola,224.0,224.00,224.00,224.00,223.00,221.00,219.00,215.00,211.00,...,167.00,157.00,148.00,138.00,129.00,120.00,113.00,105.00,98.40,AGO

In [71]:
def convert(data):
    codes_iso3 = pc.convert(names=list(data['country']), to='ISO3')
    data['continent'] = pc.convert(names=codes_iso3, src = 'ISO3', to = 'continent')
    return data
convert(pop)

,country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2006,2007,2008,2009,2010,2011,2012,2013,iso3_code,continent
0,Afghanistan,5.9,7.33,7.67,6.9,5.57,4.14,3.09,2.59,2.82,...,3.23,2.76,2.51,2.57,2.81,3.1,3.27,3.32,AFG,Asia
1,Albania,-0.603,-0.606,-0.61,-0.614,-0.618,-0.622,-0.625,-0.629,-0.633,...,-0.631,-0.756,-0.767,-0.674,-0.496,-0.269,-0.165,-0.183,ALB,Europe
2,Algeria,2.45,2.33,2.2,2.05,1.89,1.74,1.6,1.49,1.41,...,1.46,1.53,1.62,1.72,1.82,1.92,2.01,2.04,DZA,Africa
3,Andorra,3.89,3.84,3.48,2.76,1.85,0.796,-0.0513,-0.288,0.355,...,2.66,2.07,1.41,0.714,-0.0154,-0.83,-1.59,-2.01,AND,Europe
4,Angola,3.09,3.25,3.3,3.21,3.04,2.86,2.73,2.72,2.83,...,3.57,3.56,3.56,3.57,3.57,3.57,3.56,3.53,AGO,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,2.34,2.27,2.21,2.15,2.11,2.06,2.01,1.97,1.93,...,1.68,1.65,1.61,1.57,1.53,1.49,1.45,1.41,VEN,America
190,Vietnam,2.12,2.07,1.99,1.86,1.71,1.55,1.41,1.28,1.19,...,0.928,0.93,0.948,0.984,1.03,1.08,1.13,1.15,VNM,Asia
191,Yemen,4.89,5.11,5.06,4.71,4.19,3.65,3.22,2.93,2.81,...,2.77,2.75,2.74,2.73,2.71,2.7,2.68,2.64,YEM,Asia
192,Zambia,2.61,2.55,2.53,2.58,2.67,2.78,2.86,2.89,2.87,...,2.71,2.73,2.76,2.82,2.88,2.95,3.01,3.04,ZMB,Africa
193,Zimbabwe,2.52,2.27,2.06,1.92,1.81,1.73,1.65,1.55,1.43,...,1.41,1.55,1.7,1.84,1.98,2.11,2.23,2.31,ZWE,Africa